<div class="title">Memorizacion games</div>


<div class="time">
  {{tiempoMsg}} segundos
</div>


  <div  class="estado" [ngStyle] = "{'color': waiting  ? 'yellow' : 'red' }">{{estadoMsg}}</div>




<div class="game-container">
    <div class="bloques" (click)="clickBloque(0)"></div>
    <div class="bloques" (click)="clickBloque(1)" ></div>
    <div class="bloques" (click)="clickBloque(2)" ></div>
    <div class="bloques" (click)="clickBloque(3)" ></div>
    <div class="bloques" (click)="clickBloque(4)" ></div>
    <div class="bloques" (click)="clickBloque(5)" ></div>
    <div class="bloques" (click)="clickBloque(6)"></div>
    <div class="bloques" (click)="clickBloque(7)" ></div>
    <div class="bloques" (click)="clickBloque(8)" ></div>
</div>

<div class="puntaje">
      {{points}} PUNTOS
</div>

  <div id="gameOverPopup" class="modal">
    <div class="modal-content">
      <h4>Game over </h4>
      <p>Volver a intenarlo?</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Si</a>
    </div>
  </div>


